{% extends "layout.html" %}
{% block body %}
  <h1>{{ 'Index' | translate }}</h1>

  {% if has_pairs %}
    <p>{{ config.get('message-after') | safe }}</p>

    <ul>
      {% if pairs|length > 0 %}
        {% for pair in pairs %}
          <li>
            {% if not pair.first %}
              {% if pair.second.photo %}
                <img src="{{ pair.second.photo | upload_dir }}" alt="{{ pair.second.name }}">
              {% endif %}
              {{ pair.second.name }} {{ 'is alone' | translate }}
            {% elif not pair.second %}
              {% if pair.first.photo %}
                <img src="{{ pair.first.photo | upload_dir }}" alt="{{ pair.first.name }}">
              {% endif %}
              {{ pair.first.name }} {{ 'is alone' | translate }}
            {% else %}
              {% if pair.first.photo %}
                <img src="{{ pair.first.photo | upload_dir }}" alt="{{ pair.first.name }}">
              {% endif %}
              {% if pair.second.photo %}
                <img src="{{ pair.second.photo | upload_dir }}" alt="{{ pair.second.name }}">
              {% endif %}
              {{ pair.first.name }} {{ 'is with' | translate }} {{ pair.second.name }} 
            {% endif %}
          </li>
        {% endfor %}
      {% else %}
        <p>{{ 'No item' | translate }}</p>
      {% endif %}
    </ul>

    <div id="overlay">
      <h3>{{ 'Pairs are generating...' | translate }}</h3>
      <span id="countdown">10</span>
      <img src="{{ 'loading.gif' | upload_dir }}" alt="loading">
      <img src="{{ url_for('static', filename='dice.gif') }}" alt="dice">
    </div>

    <script>
      setInterval(function() {
        var countValue = parseInt($('#countdown').text());
        if (countValue != 0) {
          $('#countdown').text(countValue - 1);
        }
      }, 1000);
      setTimeout(function() {
        $('#overlay').fadeOut('fast');
      }, 10000);
    </script>
  {% else %}
    <p>{{ config.get('message-before') | safe }}</p>

    <h2>{{ 'List of items' | translate }} ({{ items.count() }})</h2>

    <ul>
      {% if items.count() > 0 %}
        {% for item in items %}
        <li> 
          {% if item.photo %}
            <img src="{{ item.photo | upload_dir }}" alt="{{ item.name }}">
          {% endif %}
          {{ item.name }}
        {% endfor %}
      {% else %}
        <p>{{ 'No item' | translate }}</p>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
