{% extends "layout.html" %}
{% block body %}
  <h1>{{ 'Run' | translate }}</h1>

  <p>
    {% if has_pairs %}
      <p>{{ 'Pairs already generated' | translate }}</p>
      <a href="{{ url_for('reset') }}" class="btn btn-primary">{{ 'Reset' | translate }}</a>
    {% else %}
      <p>{{ 'Pairs not yet generated' | translate }}</p>
      <a href="{{ url_for('generate') }}" class="btn btn-primary">{{ 'Generate' | translate }}</a>
    {% endif %}
  </p>

  <hr>

  <h2>{{ 'Configuration' | translate }}</h2>

  <form method="post">
    <div class="form-group">
      <label for="message-before">{{ 'Message before' | translate }}</label>
      <textarea class="form-control" rows="3" name="message-before" id="message-before">{{ config.get('message-before') }}</textarea>
    </div>
    <div class="form-group">
      <label for="message-after">{{ 'Message after' | translate }}</label>
      <textarea class="form-control" rows="3" name="message-after" id="message-after">{{ config.get('message-after') }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">{{ 'Save' | translate }}</button>
  </form>

{% endblock %}
